*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(200,200,200);
    box-sizing: border-box;
    padding:10px;
}

.center {
    max-width:950px;
    min-width:340px;
    margin: 0px auto;    
    padding-top:10px;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    background-color:white;
    border-radius: 5px;    
}
/*
.users {

}
*/
h1{
    font-size:2em;
    padding-bottom:15px;
    border-bottom: 2px solid rgb(200,200,200);
}
h2{
    font-size:1.3em;
    padding-bottom:10px;
    border-bottom: 1px solid rgb(200,200,200);
    
}
h3{
    font-size:1.1em;
}
.placeholder {
    background-color: white;
    height: 100vh;
    width: 100vw;
}
/*---------------------------------------------*/
/* Label section                               */
/*---------------------------------------------*/
.lablesshowcase{
    width:100%;
    /*float:left;*/
   /*overflow:hidden;*/
    list-style:none;
}

.lablesshowcase a:link,
.lablesshowcase a:visited,
.lablesshowcase a:hover{
    text-decoration:none;
    color:rgb(0,0,0);
}

.lablesshowcase li{
    overflow:hidden;
    float: left;
    display:block;
    width:230px;
    height:100px;
    border: 2px solid rgb(200,200,200);
    border-radius:15px;
    margin:5px;
    padding:5px;
    transition: top 0.3s ease;
    position:relative;
    top:0px;
}
.lablesshowcase li:hover{
    overflow:hidden;
    float: left;
    display:block;
    width:230px;
    height:100px;
    border: 2px solid rgb(200,200,200);
    border-radius:15px;
    margin:5px;
    padding:5px;
    transition: top 0s;
    position:relative;
    top:-3px;
}
.lablesshowcase li figure{
    width:100%;
}

.left{
    float:left;
}
.right{
    float:right;
}
.clearfix{
    clear:both;
}
.avatar-container {
    overflow:hidden;
    width:50px;
    height:50px;
    margin:3px;  
}

.avatar-container img{
    width:100%;
    height:auto;
}

.round{
    border-radius: 50%;
}

.login-container{
    height:50px;
    width:150px;
    position:relative;
}
.login-text{
    font-size:1.2em;
    font-weight:600;
    position:absolute;
    width:150px;
    top:50%;
    left:3px;
    transform:translate(0px,-50%);
}
.email{
    padding-top:5px;
    padding-left:20px;
}