*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(200,200,200);
    box-sizing: border-box;
    padding:10px;
}

.center {
    max-width:1080px;
    min-width:340px;
    margin: 0px auto;    
    padding-top:10px;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
    background-color:white;
    border-radius: 5px;    
}
/*
.users {

}
*/
h1{
    font-size:2em;
    padding-bottom:15px;
    border-bottom: 2px solid rgb(200,200,200);
}
h2{
    font-size:1.3em;
    padding-bottom:10px;
    border-bottom: 1px solid rgb(200,200,200);
    
}
h3{
    font-size:1.1em;
}
.placeholder {
    background-color: white;
    height: 100vh;
    width: 100vw;
}
/*---------------------------------------------*/
/* Label section                               */
/*---------------------------------------------*/
.lablesshowcase{
    width:100%;
    /*float:left;*/
   /*overflow:hidden;*/
    list-style:none;
}

.lablesshowcase a:link,
.lablesshowcase a:visited,
.lablesshowcase a:hover{
    text-decoration:none;
    color:rgb(0,0,0);
}

.lablesshowcase li{
    overflow:hidden;
    float: left;
    display:block;
    width:230px;
    height:100px;
    border: 2px solid rgb(200,200,200);
    border-radius:15px;
    margin:5px;
    padding:5px;
    transition: top 0.3s ease;
    position:relative;
    top:0px;
}
.lablesshowcase li:hover{
    overflow:hidden;
    float: left;
    display:block;
    width:230px;
    height:100px;
    border: 2px solid rgb(200,200,200);
    border-radius:15px;
    margin:5px;
    padding:5px;
    transition: top 0s;
    position:relative;
    top:-3px;
}
.lablesshowcase li figure{
    width:100%;
}

.left{
    float:left;
}
.right{
    float:right;
}
.clearfix{
    clear:both;
}
.avatar-container {
    overflow:hidden;
    width:50px;
    height:50px;
    margin:3px;  
}

.avatar-container img{
    width:100%;
    height:auto;
}

.round{
    border-radius: 50%;
}

.login-container{
    height:50px;
    width:150px;
    position:relative;
}
.login-text{
    font-size:1.2em;
    font-weight:600;
    position:absolute;
    width:150px;
    top:50%;
    left:3px;
    transform:translate(0px,-50%);
}
.email{
    padding-top:5px;
    padding-left:20px;
}
.imgnotloaded{
    display:none !important;
}
.imgloaded{
    display:block !important;    
}


/*---------------------------------------*/
/*-------full user info------------------*/
/*---------------------------------------*/
.fullavatar{
    float:left;
    width:50%;
    min-width:390px;
}
.fullavatar img{
    width:100%;
    height:auto;
    border-radius:5px;
}
.userinfo{
    float:right;
    width:50%;
    min-width:390px;
    padding:20px;
}
.repos h2,
.commits h2{
    margin-top:15px;
}
.repos table ,
.commits table{
    width:100%;
}

.repos tr th ,
.commits tr th{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgb(200,200,200);
}
.repos tr td,
.commits tr td{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(200,200,200);
}

@media (max-width: 850px) {
    .fullavatar{
        width:auto;
        float: none;
    }    
    .fullavatar img{
        width:auto;
        height:auto;
        border-radius:5px;
    }    
    .userinfo{
        width:auto;
        float: none;
    }
}