<h1><a href="/#/">Github view</a></h1>
<h2>Repository:&nbsp;{{githubrepo.full_name}}</h2>
<section ng-if="githubrepo.commits" class="commits">
<h2>Commits:</h2>
<table ng-if="githubrepo.commits">
    <tr>
        <th>Sha</th>
        <th>Date</th>
        <th>Author</th>
    </tr>
    <tr ng-repeat="commit in githubrepo.commits">
        <td>{{commit.sha}}</td>
        <td>{{commit.commit.author.date|date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{commit.commit.author.name}}</td>
    </tr>
</table>