<div class="user">
<h1><a href="/#/">Github view</a></h1>
<div class="fullavatar">
  <img class="fullavatar-img" ng-if="githubuser.avatar_url" ng-src="{{githubuser.avatar_url}}"></img>
  <img class="fullavatar-img" ng-if="!githubuser.avatar_url" ng-src="/img/anonymous.png"></img>
</div>
<section class="userinfo">
    <h2>Github user {{githubuser.login}}</h2>
    Fullname: {{githubuser.name}}<br>
    E-mail: {{githubuser.email}}<br>
</section>
<section class="repos clearfix">
    <h2>Repositories:</h2>
    <table ng-if="githubuser.repos">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Id</th>
            <th>Description</th>
        </tr>
        <tr ng-repeat="repo in githubuser.repos">
            <td ng-if="!repo.commits_url">{{repo.full_name}}</td>
            <td ng-if="repo.commits_url"><a href="/#/repo/{{githubuser.login}}/{{repo.name}}">{{repo.full_name}}</a></td>
            <td>{{repo.owner.login}}</td>
            <td>{{repo.id}}</td>
            <td>{{repo.description}}</td>
        </tr>
    </table>
</section>
<div class="panel user">
